@import "../../styles/font.scss";

header {
    min-height: 134px;
    background-color: #111d4d;

    img {
        width: 100%;
        max-width: 226px;
        padding: 1px;
    }

    .linkMenu {
        font-family: $secundary-font;
        color: white;
        letter-spacing: 0px;
        margin-left: 42px;
        transition: 0.3s;
    }
}
